*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #b980f5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

.main-container {
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 80%; 
    overflow: hidden;
}



/* Left Section: Let's Chat */
.left-section {
    background-color: #14b8a6;
    color: #ffffff;
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.section-text {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}



/* Right Section: Contact Form */
.right-section {
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}


.form-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #1f2937;
}

.required-text {
    font-size: 0.875rem;
    color: #4b5563; 
    margin-bottom: 1.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Space between form groups */
}

.form-group label {
    display: block;
    color: #374151;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    outline: none; 
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #14b8a6; 
    box-shadow: 0 0 0 2px rgba(20, 184, 166, 0.5);
}

.submit-button {
    width: 100%;
    background-color: #14b8a6; /* Teal-500 */
    color: #ffffff;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.125rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #0d9488;
}

